<h1> ALL STORE </h1>
<div class="row mb-5 g-4">

  <% @stores.each do |store| %>
    <%= render store %>
  <% end%>

</div>

<%= link_to "create store", new_store_path, class:"mt-5 btn btn-outline-primary" %>