<div>
    <h1> <%= @store.name %> </h1>
    <p> <%= @store.description %> </p>
    <p> <%= @store.phone %> </p>

   <div class="row g-4">
        <% @store.products.each do |product| %>
            <%= render product %>
        <% end%>
    </div>

</div>