<h2>
  <img src="/images/<%= @avatar %>.png" alt="<%=@user.name%>" class="rounded-circle"> <%= @user.name %>
</h2>
<%= link_to "create store", create_stor_info_path, class:"mt-5 btn btn-outline-primary" %>