<div class="d-flex flex-column col-2">
  <h4 class="category_header">Category</h4>
  <% @categories.each do |category| %>
    <%= link_to category.name, products_path(category_id: category.id), class:"p-2" %>
  <% end %>
</div>