<h3> last products </h3>

<div class="row g-4">

  <% @products.each do |product|%>
    <%= render product %>
  <% end%>

</div>

<hr/>

<h3> last stores </h3>
<div class="row g-4">

  <% @stores.each do |store| %>
    <%= render store %>
  <% end%>

</div>

<hr/>

<h3> last discount products </h3>
<div class="row g-4">

  <% @discount_products.each do |discount_product|%>
    <%= render discount_product %>
  <% end%>

</div>