<%= form_for @order do |form| %>
  <div class="d-flex justify-content-between pt-2">
    <%= form.label :status, class:"form-label" %><br>
    <%= form.select :status, ["new", "in progress", "completed"] %>
  </div>
  <hr>
  <%= form.submit "Save changes", class:"w-100 btn btn-primary btn-lg mb-2" %>
<% end %>