<div class="">
  <main class="px-3">
    <h1>Thank you</h1>
    <p class="lead">
      Your order № <%=@order.id%>
    </p>
    <p class="lead">
      If you have any questions, you can contact us on the number
    </p>
    <p></p>
  </main>
</div>