<div class="">
  <main class="px-3">
    <h1>Thank you</h1>
    <p class="lead">
      Your order № <strong> <%=@order.id%> </strong>
    </p>
    <p class="lead">
      You will be contacted as soon as possible on the number you provided
    </p>
    <p>
      <%= link_to "back to the store", products_path, class:"btn btn-outline-primary" %>
    </p>
  </main>
</div>