<%= form_with model: [ @store, @product, @review ] do |form| %>
  <div>
    <%= form.label :body, class:"form-label" %>
    <%= form.text_area :body, class:"form-control" %>
  </div>

  <div>
    <%= form.submit "Leave review", class:"btn btn-primary" %>
  </div>
<% end %>
