<%= form_with model: [ @product, @reviews ] do |form| %>
  <div>
    <%= f.label :body, class:"form-label" %>
    <%= f.text_area :body, class:"form-control" %>
  </div>

  <div>
    <%= f.submit "Leave review", class:"btn btn-primary" %>
  </div>
<% end %>
