<hr>
<div class="review_wrap">
  <p class="review_name"> <strong><%= review.user.name %></strong> </p>
  <small class="review_rating">rating: <%= review.rating %> </small>
  <p class="review_body"><em><%= review.body %></em></p>
</div>