<nav class="navbar fixed-bottom bg-body-tertiary">
  <div class="container-fluid">
    <%=link_to "Contact", contact_path, class:"nav-link text-muted" %>
    <%=link_to "About", about_path, class:"nav-link text-muted" %>
    <%=link_to "Help", help_path, class:"nav-link text-muted" %>
  </div>
</nav>